body{
    margin: 0;
    padding: 0;
    background-image: url(../TP_BINOME/images/texture.png);
}
.box1{
    background-color: #b11826;
    height: 30px;
}
.blanc{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    transform: translateY(5px);
}
.p1{
    color: #8b8b8b;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: normal;
    font-family: Arial;
}
.p2{
    color: #262626;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: normal;
    font-family: Arial;
    transform: translateX(150px);
}
.p3{
    background-color: #b11826;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 25px 1px 25px;
    font-family: Arial;
    text-align: center;
    font-weight: 600;
}
.container1{
    background-image: url(../TP_BINOME/images/avocat-bailleux-balk-nicolas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 82px 0px 82px;
}
.logo{
    height: 70px;
    padding: 33px 0px 33px 0px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 45px 0px 45px 0px ;
}
nav ul li{
    border-left: 1px solid #FFFFFF;
    padding: 10px 24px 10px 24px;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
}
nav ul li:hover{
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 0px 0px;
}
.titre1{
    font-size: 52px;
    line-height: 60px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.4);;
    text-align: center;
    padding: 10px 15px 10px 15px;
}
.p4{
    font-family: arial;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: -35px 0px 0px 0px;
}
.bouton1{
    background-color: #b11826;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
    border: none;
    padding: 12px 40px 12px 40px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 24px 0px 0px 0px;
    cursor: pointer;
}
.bouton1:hover{
    background-color: #3a3a3a;
    transition: all ease-in-out.3s;
}
.container2{
    background-color: #FFFFFF;
    margin: 80px 57px 80px 57px;
}
.p5{
    font-size: 56px;
    line-height: 61.2px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #262626;
    padding: 5px 0px 5px 0px;
}
.p6{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #8b8b8b;
    margin: -30px 330px 0px 330px;
}
.box3{
    display: flex;
    justify-content: space-between;
}
.box3 .L2{
    padding: 20px 100px 20px 0px;
}
.box3 .L2 li{
    list-style-type: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}
.box3 .L2 li::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../TP_BINOME/images/check-circle-regular-24.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 0px 2px 2px 2px;
}
.box3 .L2 a{
    text-decoration: none;
    color: #262626;
    font-size: 10px;
    font-family: arial;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    padding-left: 20px;
    text-transform: uppercase;
}
.box3 .L2 li:hover{
    background-color: #f8f8f8;
}
.box3 .L2 a:hover{
    color: #b11826;
    font-weight: bolder;
    transform: scale(1.2);
    transition: all ease-in-out .1s;
}
.bouton2{
    background-color: #b11826;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
    border: none;
    padding: 12px 40px 12px 40px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 24px 0px 50px 500px;
    cursor: pointer;
}
.bouton2:hover{
    background-color: #3a3a3a;
    transition: all ease-in-out.6s;
}
.container3{
    background-color: #FFFFFF;
    padding: 120px 42px 132px 42px;
}
.titre2{
    font-size: 59px;
    line-height: 61px;
    color: #262626;
    text-align: left;
    letter-spacing: -0.5;
    padding: 0px 82px 0px 52px;
    font-weight: lighter;
}
.titre3{
    font-size: 32px;
    line-height: 36px;
    color: #b11826;
    text-align: left;
    letter-spacing: normal;
    font-family: arial;
    padding: 0px 32px 0px 52px;
    margin: 0px 120px 0px 0px;
    font-weight: lighter;
}
.container4{
    background-color: #FFFFFF;
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
}
.rectangle-rouge{
    background-color: #b11826;
    width: 25%;
    height: 1163px;
}
.bloc-texte{
    padding: 120px 90px 0px 40px;
}
.p7{
    color: #8b8b8b;
    font-size: 22px;
    line-height: 27px;
    text-align: justify;
    font-family: arial;
}
.p8{
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    color: #3f3f3f;
}
.p9{
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    text-align: justify;
    color: #3f3f3f;
}
.p10{
    font-family: arial;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    color: #b11826;
}
.p11{
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    color: #3f3f3f;
}
.p12{
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    color: #3f3f3f;
}
.p13{
    font-family: arial;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    color: #3f3f3f;
}
.important{
    color: #b11826;
    font-weight: 600;
}
.img1{
    height: 100%;
    width: 100%;
}
.container5{
    background-color: #FFFFFF;
    margin: 0px 0px 190px 0px;
}
.bouton-groupe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 370px 0px 370px;
}
.bouton3{
    background-color: #b11826;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
    border: none;
    padding: 12px 40px 12px 40px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 120px;
    cursor: pointer;
}
.bouton3:hover{
    background-color: #3a3a3a;
    transition: all ease-in-out.3s;
}
.p14{
    color: #3f3f3f;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    font-family: arial;
    padding: 52px 82px 42px 82px;
}
.bouton4{
    background-color: #b11826;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
    border: none;
    padding: 12px 40px 12px 40px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px 0px 120px 450px;
    cursor: pointer;
}
.bouton4:hover{
    background-color: #3a3a3a;
    transition: all ease-in-out.3s;
}
.titre4{
    font-size: 65px;
    line-height: 61px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #262626;
    font-weight: lighter;
}
.bouton5{
    background-color: #b11826;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
    border: none;
    padding: 15px 30px 15px 30px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px 0px 210px 550px;
    cursor: pointer;
}
.bouton5:hover{
    background-color: #3a3a3a;
    transition: all ease-in-out.3s;
}
.arriere-plan{
    background-color: #FFFFFF;
}
.container7{
    background-color: #b11826;
    display: flex;
    margin: 0px 70px 0px 0px;
    padding: 0px 0px 150px 0px;
}
.bloc1{
    padding: 60px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.titre5{
    font-size: 44px;
    line-height: 58px;
    text-align: left;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    font-weight: lighter;
}
.p15{
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
    font-family: arial;
    font-weight: 600;
}
.p16{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #ebb2b7;
    font-family: arial;
    font-weight: lighter;
    margin: -17px 0px 0px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #262626;

}
.bloc2{
    display: flex;
    align-items: center;
}
.p17{
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #ebb2b7;
    font-family: arial;
    font-weight: lighter;
}
.bloc3{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0px 0px 0px 20px;
}
.bouton6{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #b11826;
    text-align: left;
    border: none;
    background-color: #FFFFFF;
    padding: 10px 50px 10px 50px;
    cursor: pointer;
}
.bouton6:hover{
    background-color: #3a3a3a;
    color: #FFFFFF;
    transition: all ease-in-out.4s;
}
.img2{
    position: relative;
    top: -60px;
    left: 70px;
    width: 70%;
}
.bouton7{
    position: relative;
    left: 40rem;
    bottom: 210px;
    padding: 75px;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    background-color: #b11826;
    cursor: pointer;
}
.bouton7:hover{
    background-color: #3a3a3a;
    transform: scale(1.1);
    transition: all ease-in-out .3s;
}
.container8{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 0px 100px 0px 100px;
    margin-top: -170px;
}
.container8 img{
    height: 70px;
}
.bloc4{
    margin: 0px 150px 0px 150px;
}
.bloc4 h3{
    color: #262626;
    font-size: 16px;
    line-height: 24px;
    font-family: arial;
}
.bloc4 p{
    color: #8b8b8b;
    font-size: 12px;
    line-height: 19px;
    font-family: arial;
    text-align: justify;
}
.bloc5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}
.bloc5 h3{
    color: #262626;
    font-size: 16px;
    line-height: 24px;
    font-family: arial;
}
.bloc5 ul li{
    list-style-type: none;
    padding: 5px;
}
.bloc5 ul li a{
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    color: #8b8b8b;
    padding: 5px;
}
.bloc5 ul li i{
    color: #b11826;
    font-size: 10px;
}
.item1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: -20px;
}
.bloc5-1{
    margin-right: 100px;
}
.bloc5-1 ul li{
    margin-left: -40px;
}
.bloc5-2 ul li{
    margin-left: -40px;
}
.bloc5-1 ul li a:hover{
    color: #b11826;
}
.bloc5-2 ul li a:hover{
    color: #b11826;
}
.bloc6{
    background-color: #FFFFFF;
    padding: 30px;
}
.bloc6 p{
    text-align: center;
    padding: 40px 60px 10px 60px;
    margin: 0px 190px 10px 190px;
    border-top: 1px solid #8b8b8b;
    font-size: 14px;
    font-family: arial;
    line-height: 25px;
    color: #8b8b8b;
}
.bloc6 a{
    color: #8b8b8b;
    text-decoration: none;
}
.bloc6 a:hover{
    color: #8b8b8b;
    opacity: 80%;
}